
* {
    padding: 0;
    margin: 0;
}

ul li {
    list-style: none;
    font-size: 1rem;
}
.nav-center {
    background: black;
}
.nav-header {
    display:flex;
    align-items: center;
    justify-content: space-between;
    
    color: white;
    padding: 1.5rem;
}

.animate {
    position: absolute;
    left:11px;
    animation-name: testi;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    
    

}

.nav-toggle {
    cursor:pointer;
}
.links {
    height: 0;
    overflow: hidden;
    transition: all 0.3s linear;
}
.links a {
    text-transform: capitalize;
    display:block;
    color: white;
    text-decoration: none;
    padding:1rem;
    

}


/* Kun hampurilaisnappia painaa niin links divin pituus muuttuu */
.show-links {
    height: 10rem;
}

@keyframes testi {
    from {transform: rotate(0);}
    to {transform: rotate(-20deg);}
}


 @keyframes wave {
    0% {
        clip-path:polygon(0% 38%, 21% 40%, 38% 51%, 54% 57%, 75% 57%, 100% 52%, 100% 100%, 0% 100%);
        
    }
    50% {
        clip-path:polygon(0 49%, 16% 56%, 33% 55%, 55% 50%, 75% 42%, 100% 40%, 100% 100%, 0% 100%)
    }
    100% {
        clip-path: polygon(0% 38%, 21% 40%, 38% 51%, 54% 57%, 75% 57%, 100% 52%, 100% 100%, 0% 100%);
    }
}
@media screen and (min-width:785px) {
    .transition-1 {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 101;
            background-color: white;
            opacity: 0;
            pointer-events: none;
            transition: 0.5s ease-out;
    
        }
    
    .transition-1.is-active {
        opacity: 1;
        pointer-events: all;
    }
    ul li {
        font-size: 2rem;
    }
    .nav-toggle {
        display:none;
    }

    .animate {
        left: 30px;
    }
    .nav-center {
        max-width: auto;
        margin: 0 auto;
        display: flex;
        align-items: center;
    
        justify-content: space-between;
        padding: 1rem;
    }
    
    .nav-header {
        padding: 0;
    
    }
    .nav-header h3 {
        font-size: 3rem;
        margin-left: 40px;
    }
    
    .nav-toggle {
        display: none;
    }
    
    .links {
        height: auto;
        display: flex;
        margin-right: 50px;
    
    
    }
    
}