

* {
    padding: 0;
    margin: 0;
}
body {
    background: #1d1d1d;
}
ul li {
    list-style: none;
    font-size: 1rem;
}
.nav-center {
    background: #181818;
}
.nav-header {
    display:flex;
    align-items: center;
    justify-content: space-between;
    
    color: white;
    padding: 1.5rem;
}

.animate {
    position: absolute;
    left:11px;
    animation-name: testi;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    
    

}

.nav-toggle {
    cursor:pointer;
}
.links {
    height: 0;
    overflow: hidden;
    transition: all 0.3s linear;
}
.links a {
    text-transform: capitalize;
    display:block;
    color: white;
    text-decoration: none;
    padding:1rem;
    

}


/* Kun hampurilaisnappia painaa niin links divin pituus muuttuu */
.show-links {
    height: 10rem;
}

@keyframes testi {
    from {transform: rotate(0);}
    to {transform: rotate(-20deg);}
}



@media screen and (min-width:785px) {


   .logo {
    display:flex;
    flex-direction: column;
   }

    .new {
        max-width: 90%;
        position:absolute;
        right: 0;
        
        color: white;
        display:flex;
        justify-content: center;

    }

    .new p {
        width: 50%;
    }
    .transition-1 {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 101;
            background-color: white;
            opacity: 0;
            pointer-events: none;
            transition: 0.5s ease-out;
    
        }
    
    .transition-1.is-active {
        opacity: 1;
        pointer-events: all;
    }
    ul li {
        font-size: 2rem;
    }

    .page-container {
        display:flex;
        flex-direction: row;
    }
    .nav-toggle {
        display:none;
    }

   
    .nav-center {
        
        width: 8%;
        height: 900px;
        padding: 0;
        position: fixed;
        
        
        display: flex;
        align-items: center;
        flex-direction: column;
    
        justify-content: space-around;
        
    }
    
    .nav-header {
        padding: 0;
    
    }
    .nav-header h3 {
        font-size: 2rem;
        
    }
    
    .nav-toggle {
        display: none;
    }
    
    .links {
        
        width: 100%;
        padding:0;
        height: auto;
    
    
    }

   
    ul li a {
        display: inline-block;
            width: 100%;
            padding: 0;
            width: 100%;
            border-top: 0.5px solid rgb(87, 85, 85);
            border-bottom: 0.5px solid rgb(121, 118, 118);
        
        
        
    }
    
}